


.header{height:100%; background: url(../img/cooperate/bj7.jpg) no-repeat; max-height: 759px; position: fixed;max-width: 1920px;}
.content{min-height: 548px; top: 759px; height: auto;position: relative;opacity: 0.9;}

.info{font-size: 30; position: absolute;margin: 0 auto;width:100%;height: 335px; bottom:0;    max-width: 1920px;
/*background: url(../img/cooperate/yuanjin.png) no-repeat;*/
/*background:#F4BF85;opacity: 0.8;*/
}
/*@media all{
	.info{ top: 36%;}
}*/
.info .desire{font-size:55px; padding-top:30px;width: 500px; position: relative;left:33%;
transform-style:  preserve-3d;perspective: 600;-webkit-transform-style: preserve-3d;
animation: yspin 6s linear infinite ; 
-webkit-animation: yspin 6s linear infinite ; 
}
.info .view-detail{font-size: 35px; margin-top:20px;width: 700px; position: relative;left:30%;
transform-style:  preserve-3d;perspective: 600;-webkit-transform-style: preserve-3d;
animation: yspin 6s linear infinite;
-webkit-animation: yspin 6s linear infinite ; 
}

@media screen and (min-width:2000px){
.info{font-size: 30; position: absolute;margin: 0 auto;width:100%;height: 335px;top:424px;  max-width: 1920px;opacity: 0.8;}
}
@media screen and (min-width:1500px){
.info{font-size: 30; position: relative;margin: 0 auto;width:100%;height: 335px;top:55%;  max-width: 1920px;opacity: 0.8;}
}
.proxy-bg{font-size:130px;color:#F5A808;font-weight: 800;opacity: 0.1;height: 125px;}
.hot-proxy{height:300px;width:100%;position: relative;margin-top:-8%;}
.hot-proxy .title{padding-top:3%;}
.hot-proxy .h5{width: 50px;height:5px;background: #F5A808;margin: 5px auto;}
.hot-proxy .h6{width: 600px;height:2px;background: #F5A808;margin: 5px auto;margin-top:20px;margin-bottom: 20px;}
.hot-proxy .hot-proxy-info{font-size:20px;}
.hot-proxy .apply{position: absolute;bottom:-15px;left:35%; font-size:25px;}
.hot-proxy .apply .proxy{float: left;padding:30px 35px;}
.hot-proxy .apply .supply{float: left;padding:30px 35px;}
.hot-proxy .apply a{color:#F5A808;}
.hot-proxy .apply .proxy-icon{background: url(../img/cooperate/dailis.png) no-repeat;background-position: 0 25px; width:205px;height:50px;}
.hot-proxy .apply .supply-icon{background: url(../img/cooperate/gongyins.png) no-repeat;background-position: 0 25px; width:205px;height:50px;}

.footer{ top: 759px;}
.co-supplier{height:375px;margin-top: -20px;
/*background: url(../img/cooperate/2.png) no-repeat;*/
background: #F8F5F1;
}
.co-supplier h3{padding-top:30px;}
.co-supplier .suppliers{text-align: center;position: absolute;width: 100%;}
.co-supplier .suppliers .supply{height:60px;background: #FFF;float: left;margin:20px 0 0 12%; width: 11.5%;border-radius: 5px;-webkit-border-redius:5px;}
.co-supplier .suppliers .supply img{padding-top: 10px;}


/*animations*/
/*.desireTransform {transform: rotate3d(0.9,0.9,1,10deg);-webkit-transform: rotate3d(0.9,0.9,1,10deg); transition:all 3s ease;}*/
@keyframes yspin{
   
    /*0%   { -webkit-transform:rotateY(0deg); }
	50%   { -webkit-transform:rotateY(180deg); }
	100%  { -webkit-transform:rotateY(360deg); }*/
      0%   { -webkit-transform: rotate3d(1,1,1,0deg); }
	25%   { -webkit-transform:rotate3d(1,1,1,90deg); }
	50%   { -webkit-transform:rotate3d(1,1,1,180deg); }
	75%   { -webkit-transform:rotate3d(1,1,1,270deg); }
	100%  { -webkit-transform:rotate3d(1,1,1,360deg); }
}
@-webkit-keyframes yspin{
    /*0%   { -webkit-transform:rotateY(0deg); }
	50%   { -webkit-transform:rotateY(180deg); }
	100%  { -webkit-transform:rotateY(360deg); }*/
      0%   { -webkit-transform: rotate3d(1,1,1,0deg); }
	25%   { -webkit-transform:rotate3d(1,1,1,90deg); }
	50%   { -webkit-transform:rotate3d(1,1,1,180deg); }
	75%   { -webkit-transform:rotate3d(1,1,1,270deg); }
	100%  { -webkit-transform:rotate3d(1,1,1,360deg); }
}