
.header{height:100%; background: url(../img/eatown/beijin.jpg) no-repeat; position: fixed;max-width: 1920px;}
.content{min-height: 548px;position: relative;top: 958px;opacity: 0.9;}
.info{position: absolute;margin: 0 auto;width:330px;top:22%;left:25%;}
/*.info .view-detail{cursor: pointer; font-size: 15px; margin-top:20px;}*/
.info .log{margin-left: 20%;}
.info .lists{position: absolute; width: 700px; height: 100px; background: #B69DA0;border-radius: 15px;}

.info .lists .imgItem{float: left; margin-right: 10px;padding-top:15px;padding-left:12px;}

.hot-recommend{width: 100%;height:300px;position: relative;background: #FFF;}
.hot-recommend .recommend-info{margin: 0 auto;width:400px;float: right;height:300px;position: absolute;left:20%;}
.hot-recommend .recommend-info h2{font-size:35px; font-weight: 600;}
.hot-recommend .recommend-info span{font-size:20px; letter-spacing: 2px; text-align: left;display: block;}
.hot-recommend .img{width:300px; float: right;height:300px;margin-top:15px;position: absolute;right:15%;background: url(../img/eatown/remai.png) no-repeat;}
.hot-recommend .recommend-info a{text-decoration: none;color:#000;}
.hot-recommend .recommend-info .btn-recommend{padding: 10px; margin: 30px 80px;cursor: pointer;font-size: 20px; background: #D3a; width: 200px; height: 35px;border-radius: 10px;display: block;text-align: center;}

.beside-restaurant{width: 100%;height:315px;position: relative; background:#F1F1F1;}
.beside-restaurant .restaurant-info{margin:0 auto; float: right;width:400px;right:20%;position: absolute;}
.beside-restaurant .restaurant-info h2{font-size:35px; font-weight: 600;}
.beside-restaurant .restaurant-info span{font-size:20px; letter-spacing: 2px;text-align: left;display: block;}
.beside-restaurant .restaurant-info .fsj-info{position: absolute;bottom:0;left:15%;width:500px;height:500px;display: none;}
.beside-restaurant .img{width:300px; float: right;height:300px;margin-top:15px;position: absolute;left:20%;background: url(../img/eatown/shitang.png) no-repeat;}

.beside-restaurant .fsj-typelists{padding-top: 10px;}


.health{width:100%; height: 362px;background:#FFAE57;position: relative;}
.health .health-info{margin: 0 auto;width:400px;float: right;height:300px;position: absolute;left:20%;}
.health .health-info h2{font-size:35px; font-weight: 600;}
.health .health-info span{font-size:20px; letter-spacing: 2px;text-align: left;display: block;}
.health .img{width:300px; float: right;height:347px;margin-top:15px;position: absolute;right:15%;background: url(../img/eatown/weishen.png) no-repeat;}

.delicious{width:100%;height: 335px;position: relative; background:#F1F1F1}
.delicious .delicious-info{margin:0 auto; float: right;width:400px;right:20%;position: absolute;}
.delicious .delicious-info h2{font-size:35px; font-weight: 600;}
.delicious .delicious-info span{font-size:20px; letter-spacing: 2px;text-align: left;display: block;}
.delicious .delicious-info .zj-info{position: absolute; bottom:35%; width: 500px;height:350px;left:15%; display: none;}
.delicious .img{width:300px; float: left;height:347px;margin-top:15px;position: absolute;left:15%;background: url(../img/eatown/meiwi.png) no-repeat;}

.delivery{width:100%;height: 350px;position: relative; background:#48DEE7}
.delivery .delivery-info{margin: 0 auto;width:400px;float: right;height:300px;position: absolute;left:20%;}
.delivery .delivery-info h2{font-size:35px; font-weight: 600;}
.delivery .delivery-info span{font-size:20px; letter-spacing: 2px;text-align: left;display: block;}
.delivery .img{width:300px; float: right;height:347px;margin-top:15px;position: absolute;right:15%;background: url(../img/eatown/peisong.png) no-repeat;}



.hot-recommend:hover{opacity: 0.95;transform:scale3d(0.98,0.98,1);-webkit-transform:scale3d(0.98,0.98,1);}
.beside-restaurant:hover{opacity: 0.95;transform:scale3d(0.98,0.98,1);-webkit-transform:scale3d(0.98,0.98,1);}
.health:hover{opacity: 0.95;transform:scale3d(0.98,0.98,1);-webkit-transform:scale3d(0.98,0.98,1);}
.delicious:hover{opacity: 0.95;transform:scale3d(0.98,0.98,1);-webkit-transform:scale3d(0.98,0.98,1);}
.delivery:hover{opacity: 0.95;transform:scale3d(0.98,0.98,1);-webkit-transform:scale3d(0.98,0.98,1);}
.footer{top: 958px;}

.div-animation  {-webkit-animation:recommend .9s both;animation: recommend .9s both; -moz-animation: recommend .9s both; }
/*animations*/
@keyframes recommend{
    0%{top:200;opacity: 0;}
    100%{top:0%;opacity: 1;}
}
@-webkit-keyframes recommend{
    0%{top:200;opacity: 0;}
    100%{top:0%;opacity: 1;}
}



.info .desire{font-size:35px; padding-top:50px;width: 500px; position: relative;left:25%;
transform-style:  preserve-3d;perspective: 600;-webkit-transform-style: preserve-3d;
animation: yspin 6s linear infinite ; 
-webkit-animation: yspin 6s linear infinite ; 
}
.info .view-detail{font-size: 20px; margin-top:10px;width: 650px; position: relative;left:25%;
transform-style:  preserve-3d;perspective: 600;-webkit-transform-style: preserve-3d;
animation: yspin 6s linear infinite;
-webkit-animation: yspin 6s linear infinite ; 
}
/*animations*/
/*.desireTransform {transform: rotate3d(0.9,0.9,1,10deg);-webkit-transform: rotate3d(0.9,0.9,1,10deg); transition:all 3s ease;}*/
@keyframes yspin{
   
    /*0%   { -webkit-transform:rotateY(0deg); }
	50%   { -webkit-transform:rotateY(180deg); }
	100%  { -webkit-transform:rotateY(360deg); }*/
      0%   { -webkit-transform: rotate3d(1,0.92,1,360deg); }
	25%   { -webkit-transform:rotate3d(1,0.94,1,270deg); }
	50%   { -webkit-transform:rotate3d(1,0.96,1,180deg); }
	75%   { -webkit-transform:rotate3d(1,0.98,1,90deg); }
	100%  { -webkit-transform:rotate3d(1,1,1,0deg); }
}
@-webkit-keyframes yspin{
    /*0%   { -webkit-transform:rotateY(0deg); }
	50%   { -webkit-transform:rotateY(180deg); }
	100%  { -webkit-transform:rotateY(360deg); }*/
      0%   { -webkit-transform: rotate3d(1,0.92,1,360deg); }
	25%   { -webkit-transform:rotate3d(1,0.94,1,270deg); }
	50%   { -webkit-transform:rotate3d(1,0.96,1,180deg); }
	75%   { -webkit-transform:rotate3d(1,0.98,1,90deg); }
	100%  { -webkit-transform:rotate3d(1,1,1,0deg); }
}