/*body{width:100%;height: 100%;margin:0; text-align: center;width: 1920px; margin: 0 auto;}*/
body{width:100%;height: 100%;margin:0; text-align: center;max-width: 1920px; margin: 0 auto;}
body{font-family:"MicrosoftYaHei",微软雅黑, 'Microsoft JhengHei' }


.border-bottom{border-bottom:1px solid #CCC;}

.whiteFontColor{color:#FFF;}
.defaultFontColor{color:#000;}
.eatownFontColor{color: #F5A808;}

.menumContainer{line-height: 150px;top:0;float: left;position: fixed; max-width: 1920px; width: 100%; height: 150px;z-index: 22;background: #6CE057;}
.menumContainer .logo{float: left;left:20%;top:4%; width:150px; height:70px; position: absolute; vertical-align: middle;}
.menumContainer .menu{float: right;right:20%; position: absolute;vertical-align: middle;}
.menumContainer .menu ul{list-style: none;}
.menumContainer .menu ul li{float: left; padding:0 10px;}
.menumContainer .menu ul li a{font-size:20px; text-decoration: none;color:#FFF;}
.menumContainer .menu .active{border-bottom: 2px solid #F5A808;}
.clear{float: none;}

.header{width:100%;height: 20%; position: fixed; clear: both;}

.toggleC-Inf{opacity: 0.9;}


.footer{margin-top:-10px;padding-top:25px; background:#211B16;width:100%;height:18%;position: relative;max-width: 1920px;}
.footer-menu {height:35px; position: relative;left: 35%; text-align: center;padding-bottom:10px; width: 500px;}
/*.footer-menu ul{ list-style: none;}*/
.footer-menu ul li{ float: left;padding:0 20px;border-left: 1px solid #aaa;}
.footer-menu ul li a{text-decoration: none;color:#FFF;}
.footer-menu ul li:first-child{border-left: none;}

.copyright{width: 100%;height:35px;bottom:0;position: relative;}
.copyright img{width:300px;height:35px;}
